@model Itinerary

@{
    ViewBag.Title = "Delete Itinerary";
    Layout = "_Layout";
}

@section Scripts {
    <script>
        document.querySelector('.navbar').classList.add('scrolled');
    </script>
}

<div class="page-container">
    <h3>Are you sure you want to delete this itinerary?</h3>
    
    <dl class="delete">
        <dt class="col-sm-2">
            <!--Name the user will see on the computer. "First Name"-->
            Title:
        </dt>
            
        <dd class="col-sm-10">
            <!--Name that is displayed in the code. "firstName."-->
            @Html.DisplayFor(model => model.Title, "Title")
        </dd>
        
        <dt class="col-sm-2">
            Country:
        </dt>
    
        <dd class="col-sm-10">
            @Model.Country?.CountryName
        </dd>

            
        <dt class="col-sm-2">
            Description:
        </dt>
    
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description, "Description")
        </dd>
    
        <dt class="col-sm-2">
            Start Date:
        </dt>
    
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StartDate, "StartDate")
        </dd>
        
        <dt class="col-sm-2">
            End Date:
        </dt>
    
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EndDate, "EndDate")
        </dd>
    </dl>
    
    <div>
        <form asp-action="Delete" asp-route-id="@Model.Id" method="post">
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.Id)
            <input type="submit" value="Delete" class="btn-delete"/>
            <a asp-action="Index" class="btn-cancel">Cancel</a>
        </form>
    </div>
</div>